
.theme1 {
	background-color:#FFF;
}

.theme2 {
	background-color:#E8FEFF;
}

body {
  color: gray;
}

.smalltext {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
#head {
  font-size: 500%;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.bgimage {
  height: 500px;
  width: 100%;
  background-image: url("pics/skyline.jpg");
  background-repeat: no-repeat;

}


p {
  color: gray;
}

.head {
	margin-top: 50px;
}

.foot {
	margin-bottom: 50px;
  margin-top: 20px;
}


#pan {
    max-width:100%;
    height:auto;
}
#selfdescription {
	padding: 20px;
}

.tempcontainer {
    text-align:center;
    margin:auto;

}
img.resize {
	max-width:100%;
	height:auto;
}
img {
    display: inline:block;
}


ul {
	list-style-position: inside;
}

.coursework {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}


.button {
    background-color: #FFF;
    border: #000;
    color: black;
    padding: 10px 32px;
    text-align: center;
    display: 
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 0px;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}
    

#photos {
    line-height: 0;

    -webkit-column-count: 4444;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100% !important;
    height: auto !important;
}


@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
/*@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
*/

